<center>
<h1>Факультет "Прикладная математика" МАИ</h1>
<h2>Курс "Основы Python для анализа данных"</h2>
<h2>Артамонов Игорь Михайлович</h2>
</center>

<center><h2>Занятие № 6. Введение в pandas.</h2></center>

## Общение / вопросы по курсу

Платформа для групповой работы Atlassian Confluence факультета "Прикладная математика"

https://mai.moscow/display/PYTML

* <b>Занятие 6. Введение в pandas.</b>
       * Серии (Series)
       * Датафрейм (DataFrame)

## virtualenv + Jupyter notebook

```
<Ctrl> + <Alt> + T - новое окно терминала
```

```
$ conda -V

$ conda update conda

$ conda search "^python$"

$ conda create -n yourenvname python=x.x anaconda

$ source activate yourenvname

$ jupyter notebook

$ conda install -n yourenvname [package]
```

# Общее

* pandas является одной из основных библиотек при работе с данными
* Основными типами данных pandas являются серия и датафрейм
* В основе этих элементов лежат массивы numpy, доступ к которым может быть легко полчен
* Сводить pandas к numpy __неверно__! pandas - __специализированная надстройка для работы с данными__, использующая массив только как эффективное средство для хранения данных и простых операций над ними
* С (очень) серьезными оговорками, pandas можно рассматривать как "сверхэффективный SQL таблицами в памяти"
* Важные функции pandas:
    - ввод / вывод
    - индексация
    - сортировка
    - работа с неполными и "грязными" данным
    - трансформация данных
    - объединение / разделение / комбинирование данных
    - агрегирование и групповые операции
    - кроме опреций ввода/вывода, pandas работает только с данными в памяти; это достаточно серьезное ограничение, следующее из его достоинств <br><br>
Импорт __pandas__ производится командой:

```python
    import pandas as pd
```

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import scipy as sc
%matplotlib inline

In [3]:
import os
import os.path

### Серия (Series)

* Серия - это данные, состоящие из одного столбца
* (на будущее) Один столбец датафрейма - это __серия__
* Работа с сериями и датафреймами __очень__ близка (можно что-то отладить на серии, как столбце, а потом применить к датафрейму)

In [3]:
sr = pd.Series([2, 7, 13, -6, -2, 17])
sr

0     2
1     7
2    13
3    -6
4    -2
5    17
dtype: int64

In [4]:
sr.index

RangeIndex(start=0, stop=6, step=1)

In [5]:
type(sr.index)

pandas.core.indexes.range.RangeIndex

In [6]:
sr.values

array([ 2,  7, 13, -6, -2, 17])

In [7]:
type(sr.values)

numpy.ndarray

In [8]:
sr.values.shape

(6,)

In [9]:
sr.loc[2]

13

In [10]:
sr.iloc[2]

13

In [11]:
srn = pd.Series([ 2,  7, 13, -6, -2, 17], index=['d', 'b', 'a', 'b', 'k', 'r'])
srn

d     2
b     7
a    13
b    -6
k    -2
r    17
dtype: int64

In [12]:
srn.index

Index(['d', 'b', 'a', 'b', 'k', 'r'], dtype='object')

In [13]:
type(sr.index)

pandas.core.indexes.range.RangeIndex

In [14]:
srn.loc[['b','a']]

b     7
b    -6
a    13
dtype: int64

In [15]:
srn.loc[['b']]

b    7
b   -6
dtype: int64

In [16]:
# другая форма loc
srn[['b','a']]

b     7
b    -6
a    13
dtype: int64

In [17]:
srn[['b','c']]

/home/rk/source/repos/maga/sem01/python/venv/lib/python3.7/site-packages/pandas/core/series.py:1152: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#deprecate-loc-reindex-listlike
  return self.loc[key]

b    7.0
b   -6.0
c    NaN
dtype: float64

In [18]:
srn.reindex(['b','c'])

ValueError: cannot reindex from a duplicate axis

In [19]:
'r' in srn

True

In [20]:
'z' in srn

False

In [21]:
sr[sr > 0]

0     2
1     7
2    13
5    17
dtype: int64

In [22]:
sr[sr < 0] * 2

3   -12
4    -4
dtype: int64

In [23]:
np.exp(srn)

d    7.389056e+00
b    1.096633e+03
a    4.424134e+05
b    2.478752e-03
k    1.353353e-01
r    2.415495e+07
dtype: float64

In [24]:
cit_dict = {
    'Москва':12506468,
    'Санкт-Петербург':5351935,
    'Новосибирск':1612833, 
    'Екатеринбург':1468833,
    'Нижний Новгород':1259013,
    'Казань':1243500,
    'Челябинск':1202371,
    'Омск':1172070,
    'Самара':1163399,
    'Ростов-на-Дону':1130305
}

In [25]:
cit = pd.Series(cit_dict)
cit

Москва             12506468
Санкт-Петербург     5351935
Новосибирск         1612833
Екатеринбург        1468833
Нижний Новгород     1259013
Казань              1243500
Челябинск           1202371
Омск                1172070
Самара              1163399
Ростов-на-Дону      1130305
dtype: int64

In [26]:
cities = list(cit_dict.keys()) + ['Уфа', 'Красноярск']

In [27]:
cities

['Москва',
 'Санкт-Петербург',
 'Новосибирск',
 'Екатеринбург',
 'Нижний Новгород',
 'Казань',
 'Челябинск',
 'Омск',
 'Самара',
 'Ростов-на-Дону',
 'Уфа',
 'Красноярск']

In [28]:
cit2 = pd.Series(cit_dict, index=cities)
cit2

Москва             12506468.0
Санкт-Петербург     5351935.0
Новосибирск         1612833.0
Екатеринбург        1468833.0
Нижний Новгород     1259013.0
Казань              1243500.0
Челябинск           1202371.0
Омск                1172070.0
Самара              1163399.0
Ростов-на-Дону      1130305.0
Уфа                       NaN
Красноярск                NaN
dtype: float64

In [29]:
pd.isnull(cit2)

Москва             False
Санкт-Петербург    False
Новосибирск        False
Екатеринбург       False
Нижний Новгород    False
Казань             False
Челябинск          False
Омск               False
Самара             False
Ростов-на-Дону     False
Уфа                 True
Красноярск          True
dtype: bool

In [ ]:
pd.notnull(cit2)

In [ ]:
cit + cit2

In [ ]:
cit2.name = 'Население'
cit2.index.name = 'Город'
cit2

### Датафрейм (DataFrame)

In [ ]:
data = {'city': ['Москва','Санкт-Петербург','Новосибирск', 'Екатеринбург','Нижний Новгород', \
        'Казань', 'Челябинск', 'Омск', 'Самара', 'Ростов-на-Дону'],
        'year': [2010, 2012,2014,2016,2014,2016,2010,2013,2011,2016],
        'population': [12506468, 5351935, 1612833, 1468833, 1259013, 1243500, 1202371, 1172070, 1163399, 1130305]
       }

In [ ]:
df = pd.DataFrame(data)

In [ ]:
df

In [ ]:
df.head(3)

In [ ]:
df.tail(5)

In [ ]:
df_year = pd.DataFrame(df, columns=['year'])
df_year

In [ ]:
type(df_year)

In [ ]:
type(df['year'])

In [ ]:
df.city

In [ ]:
df['city']

In [ ]:
df[df['city'] == 'Москва']

In [ ]:
df2 = pd.DataFrame(data, columns=['year', 'city', 'population', 'income'],
                      index=['1', '2', '3', '4', '5', '6', '7', '8', '9', '10'])

In [ ]:
df2

In [ ]:
df2.loc['1']

In [ ]:
df2.income = 123.456
df2.income = df2.income.astype(int)

In [ ]:
df2

In [ ]:
df2.dtypes

In [ ]:
df.columns

In [ ]:
df2.income = np.arange(100,200, 10)

In [ ]:
df2

In [ ]:
df2.dtypes

In [ ]:
df2 = pd.DataFrame(data, columns=['year', 'city', 'population', 'income'],
                      index=['1', '2', '3', '4', '5', '6', '7', '8', '9', '10'])

In [ ]:
income = pd.Series([123,456,789,1010], index = ['1','2', '8', '11'])

In [ ]:
df2['income'] = income

In [ ]:
df2

In [ ]:
df2['big'] = df2['population'] > 1500000

In [ ]:
df2

In [ ]:
del df2['big']
df2.columns

In [ ]:
df.drop(columns=['big'], axis=1)

In [ ]:
df.T

In [ ]:
population = {'Москва': {2010: 11.4, 2011:11.9, 2013:12.1},
       'Новосибирск': {2010:1.5, 2012:1.7, 2013:3.6}}

In [ ]:
df3 = pd.DataFrame(population)
df3

In [ ]:
pd.DataFrame(population, index=[2010, 2011, 2012, 2013])

In [ ]:
df.values

In [ ]:
type(df.values)

In [ ]:
df.iloc[3,0:1] = 0
df

In [ ]:
df = pd.DataFrame(population)
df

In [ ]:
df.index.name = 'year'; 
df.columns.name = 'city'
df

In [ ]:
df.values

### Индексы, как объекты

In [ ]:
sr = pd.Series(range(5), index=['a', 'b', 'c', 'd', 'e'])
index = sr.index
index

In [ ]:
index[1:3]

In [ ]:
labels = pd.Index(np.arange(5))
labels
df2 = pd.Series([1.5, -2.5, 0, 14, -2.2], index=labels)
df2

In [ ]:
df2.index is labels

#### <font color='green'>Вопрос.</font>
Для чего нужна предыдущая команда?

In [ ]:
df
df.columns

In [ ]:
'Москва' in df.columns

In [ ]:
2003 in df.index

In [ ]:
dup_labels = pd.Index(['foo', 'foo', 'bar', 'bar'])
dup_labels

### Ввод из файлов

In [14]:
%ls *.xls

ru-cities.xls

In [31]:
df = pd.read_excel('ru-cities.xls',skiprows=8)

In [16]:
df.shape

(175, 6)

In [17]:
df.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,1.0,Москва,NaN,11514.3,5332.7,6181.6
1,2.0,Санкт-Петербург,NaN,4848.7,2209.6,2639.1
2,3.0,Новосибирск,Новосибирская область,1473.7,676.5,797.2
3,4.0,Екатеринбург,Свердловская область,1350.1,605.4,744.7
4,5.0,Нижний Новгород,Нижегородская область,1250.6,550.2,700.4

In [18]:
df.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,1.0,Москва,NaN,11514.3,5332.7,6181.6
1,2.0,Санкт-Петербург,NaN,4848.7,2209.6,2639.1
2,3.0,Новосибирск,Новосибирская область,1473.7,676.5,797.2
3,4.0,Екатеринбург,Свердловская область,1350.1,605.4,744.7
4,5.0,Нижний Новгород,Нижегородская область,1250.6,550.2,700.4

In [19]:
df.iloc[100]

Unnamed: 0                    17
Unnamed: 1                 Химки
Unnamed: 2    Московская область
Unnamed: 3                 207.1
Unnamed: 4                  94.6
Unnamed: 5                 112.5
Name: 100, dtype: object

In [20]:
df.to_csv('ru-cities.csv')

In [21]:
%ls *.csv

ru-cities.csv

## <font color=red>ЗАДАНИЕ</font>

Определите:
* названия колонок и индекса
* переименуйте колонки и индексы любым удобным Вам способом
* найдите города с населением от 600 до 700 тысяч человек

In [32]:
df.columns = ['key', 'city', 'part', 'pop', 'hpop', 'wpop']
df = df.drop('key', axis=1)

In [47]:
df = df[~df['pop'].isnull()]
df = df.reset_index()
df

,level_0,index,city,part,pop,hpop,wpop
0,0,0,Москва,NaN,11514.3,5332.7,6181.6
1,1,1,Санкт-Петербург,NaN,4848.7,2209.6,2639.1
2,2,2,Новосибирск,Новосибирская область,1473.7,676.5,797.2
3,3,3,Екатеринбург,Свердловская область,1350.1,605.4,744.7
4,4,4,Нижний Новгород,Нижегородская область,1250.6,550.2,700.4
...,...,...,...,...,...,...,...
159,159,170,Междуреченск,Кемеровская область,102.0,47.5,54.5
160,160,171,Ленинск-Кузнецкий,Кемеровская область,101.7,46.6,55.1
161,161,172,Сарапул,Удмуртская Республика,101.4,45.2,56.2
162,162,173,Ессентуки,Ставропольский край,101.0,45.1,55.9
163,163,174,Воткинск,Удмуртская Республика,100.0,45.4,54.6

In [46]:
df[(600 < df['pop']) &  (df['pop'] < 700)]

    index       city                   part    pop   hpop   wpop
18     21     Ижевск  Удмуртская Республика  628.1  281.0  347.1
19     22  Ульяновск    Ульяновская область  613.8  278.0  335.8
20     23    Барнаул         Алтайский край  612.1  272.8  339.3

## Дополнительная функциональность

### Реиндексация

In [4]:
obj = pd.Series([4.5, 7.2, -5.3, 3.6], index=['d', 'b', 'a', 'c'])
obj

d    4.5
b    7.2
a   -5.3
c    3.6
dtype: float64

In [5]:
obj2 = obj.reindex(['a', 'b', 'c', 'd', 'e'])
obj2

a   -5.3
b    7.2
c    3.6
d    4.5
e    NaN
dtype: float64

In [6]:
obj3 = pd.Series(['blue', 'purple', 'yellow'], index=[0, 2, 4])
obj3

0      blue
2    purple
4    yellow
dtype: object

In [7]:
obj3.reindex(range(6), method='ffill')

0      blue
1      blue
2    purple
3    purple
4    yellow
5    yellow
dtype: object

In [8]:
frame = pd.DataFrame(np.arange(9).reshape((3, 3)),
                     index=['a', 'c', 'd'],
                     columns=['Ohio', 'Texas', 'California'])
frame

   Ohio  Texas  California
a     0      1           2
c     3      4           5
d     6      7           8

In [9]:
frame2 = frame.reindex(['a', 'b', 'c', 'd'])
frame2

   Ohio  Texas  California
a   0.0    1.0         2.0
b   NaN    NaN         NaN
c   3.0    4.0         5.0
d   6.0    7.0         8.0

In [10]:
states = ['Texas', 'Utah', 'California']
frame.reindex(columns=states)

   Texas  Utah  California
a      1   NaN           2
c      4   NaN           5
d      7   NaN           8

In [11]:
frame.loc[['a', 'b', 'c', 'd'], states]

/home/rk/source/repos/maga/sem01/python/venv/lib/python3.7/site-packages/pandas/core/indexing.py:1418: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#deprecate-loc-reindex-listlike
  return self._getitem_tuple(key)

   Texas  Utah  California
a    1.0   NaN         2.0
b    NaN   NaN         NaN
c    4.0   NaN         5.0
d    7.0   NaN         8.0

### Удаление записей из оси

In [ ]:
obj = pd.Series(np.arange(5.), index=['a', 'b', 'c', 'd', 'e'])
obj

In [ ]:
new_obj = obj.drop(['c','d'])
new_obj

In [ ]:
obj.drop('c', inplace=True)

In [ ]:
obj

In [ ]:
obj.drop(['d', 'c'])

In [ ]:
data = pd.DataFrame(np.arange(16).reshape((4, 4)),
                    index=['Ohio', 'Colorado', 'Utah', 'New York'],
                    columns=['one', 'two', 'three', 'four'])
data

In [ ]:
data.drop(['Colorado', 'Ohio'])

In [ ]:
data.drop(['two', 'four'], axis='columns')

In [ ]:
data.drop('two', axis=1)

In [ ]:
data.drop('four', inplace=True)
data

<b>ВОПРОС.</b> Что пошло не так?

### Индексация, выбор и фильтрация

In [ ]:
obj = pd.Series(np.arange(4.), index=['a', 'b', 'c', 'd'])
obj

In [ ]:
obj['c']

In [ ]:
obj[2]

In [ ]:
type(obj.index)

In [ ]:
obj[2:4]

In [ ]:
obj[['b', 'a', 'd']]

In [ ]:
obj[[1, 3]]

In [ ]:
obj[obj < 2]

In [ ]:
obj[2:3]

In [ ]:
obj['b':'c']

In [ ]:
obj.iloc[2:3]

In [ ]:
obj['b':'c'] = 5
obj

In [ ]:
data = pd.DataFrame(np.arange(16).reshape((4, 4)),
                    index=['Ohio', 'Colorado', 'Utah', 'New York'],
                    columns=['one', 'two', 'three', 'four'])
data

In [ ]:
data['two'], type(data['two'])

In [ ]:
data[['three', 'one']]

In [ ]:
data[:2]
data[data.three > 5]

In [ ]:
data < 5
data[data < 5] = 0
data

### Выбор с loc и unloc

In [ ]:
data.loc['Colorado', ['two', 'three']]

In [ ]:
data.iloc[2, [3, 0, 1]]

In [ ]:
data.iloc[2]
data.iloc[[1, 2], [3, 0, 1]]

In [ ]:
data.loc[:'Utah', 'two']
data.iloc[:, :3][data.three > 5]

### Целочисленная индексация

In [ ]:
ser = pd.Series(np.arange(3.)) 
ser

In [ ]:
ser

In [ ]:
ser2 = pd.Series(np.arange(3.), index=['a', 'b', 'c'])
ser2[-1]

In [ ]:
ser[:1]
ser.loc[:1]
ser.iloc[:1]

### Арифметические операции

In [ ]:
s1 = pd.Series([7.3, -2.5, 3.4, 1.5], index=['a', 'c', 'd', 'e'])
s2 = pd.Series([-2.1, 3.6, -1.5, 4, 3.1],
               index=['a', 'c', 'e', 'f', 'g'])

In [ ]:
s1

In [ ]:
s2

In [ ]:
s1 + s2

In [ ]:
df1 = pd.DataFrame(np.arange(9.).reshape((3, 3)), columns=list('bcd'),
                   index=['Ohio', 'Texas', 'Colorado'])
df2 = pd.DataFrame(np.arange(12.).reshape((4, 3)), columns=list('bde'),
                   index=['Utah', 'Ohio', 'Texas', 'Oregon'])

In [ ]:
df1

In [ ]:
df2

In [ ]:
df1 + df2

In [ ]:
df1 = pd.DataFrame({'A': [1, 2]})
df2 = pd.DataFrame({'B': [3, 4]})

In [ ]:
df1

In [ ]:
df2

In [ ]:
df1 - df2

### Арифметические действия и заполнение

In [ ]:
df1 = pd.DataFrame(np.arange(12.).reshape((3, 4)),
                   columns=list('abcd'))
df2 = pd.DataFrame(np.arange(20.).reshape((4, 5)),
                   columns=list('abcde'))

In [ ]:
df2.loc[1, 'b'] = np.nan
df1

In [ ]:
df2

In [ ]:
df1 + df2

In [ ]:
df1.add(df2, fill_value=0)

In [ ]:
1 / df1

In [ ]:
df1.rdiv(1)

In [ ]:
df1.reindex(columns=df2.columns, fill_value=0)

### Операции над датафреймами и сериями

In [ ]:
arr = np.arange(12.).reshape((3, 4))
arr

In [ ]:
arr[0]

In [ ]:
arr - arr[0]

<b>ВОПРОС.</b> В чём отличие поведения от numpy.array?

In [ ]:
frame = pd.DataFrame(np.arange(12.).reshape((4, 3)),
                     columns=list('bde'),
                     index=['Utah', 'Ohio', 'Texas', 'Oregon'])
series = frame.iloc[0]

In [ ]:
frame

In [ ]:
series

In [ ]:
frame - series

In [ ]:
series2 = pd.Series(range(3), index=['b', 'e', 'f'])
frame + series2

In [ ]:
series3 = frame['d']
frame

In [ ]:
series3

In [ ]:
frame.sub(series3, axis='columns')

### Применение функций и отображение

In [ ]:
frame = pd.DataFrame(np.random.randn(4, 3), columns=list('bde'),
                     index=['Utah', 'Ohio', 'Texas', 'Oregon'])
frame

In [ ]:
np.abs(frame)

In [ ]:
f = lambda x: x.max() - x.min()
frame.apply(f,axis=0)

In [ ]:
type(frame.apply(f,axis=0))

In [ ]:
frame.apply(f, axis='columns')

In [ ]:
def f(x):
    return pd.Series([x.min(), x.max()], index=['min', 'max'])

frame.apply(f)

In [ ]:
format = lambda x: '%.2f' % x
frame.applymap(format)

In [ ]:
frame['e'].map(format)

## <font color=red>ЗАДАНИЕ</font>

Сделайте лямда-функцию, вычисляющую отклонения населения города РФ от среднего, 
и заполнящую этим значением новый столбец с именем 'Отклонение'

In [63]:
df['mean'] = df['pop'].apply(lambda x, mean=df['pop'].mean(): mean - x)
df

,level_0,index,city,part,pop,hpop,wpop,mean
0,0,0,Москва,NaN,11514.3,5332.7,6181.6,-11086.189634
1,1,1,Санкт-Петербург,NaN,4848.7,2209.6,2639.1,-4420.589634
2,2,2,Новосибирск,Новосибирская область,1473.7,676.5,797.2,-1045.589634
3,3,3,Екатеринбург,Свердловская область,1350.1,605.4,744.7,-921.989634
4,4,4,Нижний Новгород,Нижегородская область,1250.6,550.2,700.4,-822.489634
...,...,...,...,...,...,...,...,...
159,159,170,Междуреченск,Кемеровская область,102.0,47.5,54.5,326.110366
160,160,171,Ленинск-Кузнецкий,Кемеровская область,101.7,46.6,55.1,326.410366
161,161,172,Сарапул,Удмуртская Республика,101.4,45.2,56.2,326.710366
162,162,173,Ессентуки,Ставропольский край,101.0,45.1,55.9,327.110366
163,163,174,Воткинск,Удмуртская Республика,100.0,45.4,54.6,328.110366

### Сортировка и ранжирование

In [ ]:
obj = pd.Series(range(4), index=['d', 'a', 'b', 'c'])
obj.sort_index()

In [ ]:
frame = pd.DataFrame(np.arange(8).reshape((2, 4)),
                     index=['three', 'one'],
                     columns=['d', 'a', 'b', 'c'])
frame.sort_index()

In [ ]:
frame.sort_index(axis=1)

In [ ]:
frame.sort_index(axis=1, ascending=False)

In [ ]:
obj = pd.Series([4, 7, -3, 2])
obj.sort_values()

In [ ]:
obj = pd.Series([4, np.nan, 7, np.nan, -3, 2])
obj.sort_values()

In [ ]:
frame = pd.DataFrame({'b': [4, 7, -3, 2], 'a': [0, 1, 0, 1]})
frame

In [ ]:
frame.sort_values(by='b')

In [ ]:
frame.sort_values(by=['a', 'b'])

In [ ]:
obj = pd.Series([7, -5, 7, 4, 2, 0, 4])
obj.rank()

In [ ]:
obj.rank(method='first')

In [ ]:
# Присвоение значений максимального ранга в группе
obj.rank(ascending=False, method='max')

In [ ]:
frame = pd.DataFrame({'b': [4.3, 7, -3, 2], 'a': [0, 1, 0, 1],
                      'c': [-2, 5, 8, -2.5]})
frame
frame.rank(axis='columns')

In [ ]:
sr = pd.Series([10, 25, 3, 11, 24, 6, 25]) 
index_ = ['Coca Cola', 'Sprite', 'Coke', 'Fanta', 'Dew', 'ThumbsUp', 'Appy'] 
sr.index = index_ 
print(sr)

In [ ]:
result = sr.rank() 
print(result)

### Индексация осей и дублирующиеся метки

In [64]:
obj = pd.Series(range(5), index=['a', 'a', 'b', 'b', 'c'])
obj

a    0
a    1
b    2
b    3
c    4
dtype: int64

In [65]:
obj.index.is_unique

False

In [66]:
obj['a']
obj['c']

4

In [67]:
df = pd.DataFrame(np.random.randn(4, 3), index=['a', 'a', 'b', 'b'])
df

          0         1         2
a  2.109384  0.873292  0.481543
a -0.081075  1.262982 -0.365193
b  0.822361 -2.622894  0.627649
b  0.309577  0.133681  0.421872

In [68]:
df.loc['b']

          0         1         2
b  0.822361 -2.622894  0.627649
b  0.309577  0.133681  0.421872

## Статистика и функции агрегирования

In [ ]:
df = pd.DataFrame([[1.4, np.nan], [7.1, -4.5],
                   [np.nan, np.nan], [0.75, -1.3]],
                  index=['a', 'b', 'c', 'd'],
                  columns=['one', 'two'])
df

In [ ]:
df.sum()

In [ ]:
df.sum(axis='columns')

In [ ]:
df.mean(axis='columns', skipna=False)

In [ ]:
df.idxmax()

In [ ]:
df.cumsum()

In [ ]:
df.shape

In [ ]:
df.describe()

In [ ]:
obj = pd.Series(['a', 'a', 'b', 'c'] * 4)
obj.describe()

### Корреляция и ковариация

In [71]:
#!conda install pandas-datareader
!pip install pandas-datareader

Collecting pandas-datareader
  Downloading https://files.pythonhosted.org/packages/14/52/accb990baebe0063977f26e02df36aa7eb4015ed4e86f828cd76273cd6f1/pandas_datareader-0.8.1-py2.py3-none-any.whl (107kB)
     |████████████████████████████████| 112kB 953kB/s eta 0:00:01
Collecting requests>=2.3.0 (from pandas-datareader)
  Downloading https://files.pythonhosted.org/packages/51/bd/23c926cd341ea6b7dd0b2a00aba99ae0f828be89d72b2190f27c11d4b7fb/requests-2.22.0-py2.py3-none-any.whl (57kB)
     |████████████████████████████████| 61kB 16.6MB/s eta 0:00:01
Collecting lxml (from pandas-datareader)
  Downloading https://files.pythonhosted.org/packages/e7/a8/40115c84414c017e1a293f331709eb7534303d3ccd11ef805ac09b1481e7/lxml-4.4.1-cp37-cp37m-manylinux1_x86_64.whl (5.7MB)
     |████████████████████████████████| 5.8MB 900kB/s eta 0:00:01
Requirement already satisfied: pandas>=0.21 in /home/rk/source/repos/maga/sem01/python/venv/lib/python3.7/site-packages (from pandas-datareader) (0.25.1)
Collecting certifi>=2017.4.17 (from requests>=2.3.0->pandas-datareader)
  Downloading https://files.pythonhosted.org/packages/18/b0/8146a4f8dd402f60744fa380bc73ca47303cccf8b9190fd16a827281eac2/certifi-2019.9.11-py2.py3-none-any.whl (154kB)
     |████████████████████████████████| 163kB 1.3MB/s eta 0:00:01
Collecting chardet<3.1.0,>=3.0.2 (from requests>=2.3.0->pandas-datareader)
  Downloading https://files.pythonhosted.org/packages/bc/a9/01ffebfb562e4274b6487b4bb1ddec7ca55ec7510b22e4c51f14098443b8/chardet-3.0.4-py2.py3-none-any.whl (133kB)
     |████████████████████████████████| 143kB 312kB/s eta 0:00:01
Collecting urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 (from requests>=2.3.0->pandas-datareader)
  Downloading https://files.pythonhosted.org/packages/e0/da/55f51ea951e1b7c63a579c09dd7db825bb730ec1fe9c0180fc77bfb31448/urllib3-1.25.6-py2.py3-none-any.whl (125kB)
     |████████████████████████████████| 133kB 775kB/s eta 0:00:01
Collecting idna<2.9,>=2.5 (from requests>=2.3.0->pandas-datareader)
  Downloading https://files.pythonhosted.org/packages/14/2c/cd551d81dbe15200be1cf41cd03869a46fe7226e7450af7a6545bfc474c9/idna-2.8-py2.py3-none-any.whl (58kB)
     |████████████████████████████████| 61kB 1.4MB/s eta 0:00:011
Requirement already satisfied: pytz>=2017.2 in /home/rk/source/repos/maga/sem01/python/venv/lib/python3.7/site-packages (from pandas>=0.21->pandas-datareader) (2019.2)
Requirement already satisfied: numpy>=1.13.3 in /home/rk/source/repos/maga/sem01/python/venv/lib/python3.7/site-packages (from pandas>=0.21->pandas-datareader) (1.17.2)
Requirement already satisfied: python-dateutil>=2.6.1 in /home/rk/source/repos/maga/sem01/python/venv/lib/python3.7/site-packages (from pandas>=0.21->pandas-datareader) (2.8.0)
Requirement already satisfied: six>=1.5 in /home/rk/source/repos/maga/sem01/python/venv/lib/python3.7/site-packages (from python-dateutil>=2.6.1->pandas>=0.21->pandas-datareader) (1.12.0)
Installing collected packages: certifi, chardet, urllib3, idna, requests, lxml, pandas-datareader
Successfully installed certifi-2019.9.11 chardet-3.0.4 idna-2.8 lxml-4.4.1 pandas-datareader-0.8.1 requests-2.22.0 urllib3-1.25.6

In [ ]:
price = pd.read_pickle('yahoo_price.pkl')
volume = pd.read_pickle('yahoo_volume.pkl')

In [ ]:
import pandas_datareader.data as web

In [ ]:
all_data = {ticker: web.get_data_yahoo(ticker) for ticker in ['AAPL', 'IBM', 'MSFT', 'GOOG']}

In [ ]:
price = pd.DataFrame({ticker: data['Adj Close'] for ticker, data in all_data.items()})
volume = pd.DataFrame({ticker: data['Volume'] for ticker, data in all_data.items()})

In [ ]:
returns = price.pct_change()
returns.tail()

In [ ]:
returns = price.pct_change()
returns.tail()

In [ ]:
returns['MSFT'].corr(returns['IBM'])
returns['MSFT'].cov(returns['IBM'])

In [ ]:
returns.MSFT.corr(returns.IBM)

In [ ]:
returns.corr()
returns.cov()

In [ ]:
returns.corrwith(returns.IBM)

In [ ]:
returns.corrwith(volume)

### Уникальные значения, подсчет значений и членство

In [ ]:
obj = pd.Series(['c', 'a', 'd', 'a', 'a', 'b', 'b', 'c', 'c'])

In [ ]:
uniques = obj.unique()
uniques

In [ ]:
obj.value_counts()

In [ ]:
pd.value_counts(obj.values, sort=False)

In [ ]:
obj
mask = obj.isin(['b', 'c'])
mask
obj[mask]

In [ ]:
to_match = pd.Series(['c', 'a', 'b', 'b', 'c', 'a'])
unique_vals = pd.Series(['c', 'b', 'a'])
pd.Index(unique_vals).get_indexer(to_match)

In [ ]:
data = pd.DataFrame({'Qu1': [1, 3, 4, 3, 4],
                     'Qu2': [2, 3, 1, 2, 3],
                     'Qu3': [1, 5, 2, 4, 4]})
data

In [ ]:
result = data.apply(pd.value_counts).fillna(0)
result

## Экзаменационные вопросы:

* Серии и датафреймы pandas
* Индексация серий и датафреймов pandas
* Математические операции с сериями и датафреймами pandas